.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: center;
}
input, select {
    /* min-width: 60px; */
    /* max-width: 200px; */
    width: 200px;
    padding: 10px;
    font-size: 14px;
    margin: 10px 0;
}

option {
    border: 1px solid white;
    height: 100px !important;
}